{% extends 'blog/header.html' %}

{% block content %}
  <div class="maincontent">

    <div class="text">
      <h2>About the project</h2>
      <p>
        This project is deveped by me, Adam Husnik. I have really big plans with this project and I hope I'll be soon able to
        start working on it. If you have ANY questions about this project, you can contact here: husnikadam@email.cz
      </p>
      <h2>Donate</h2>
      <p>
        I'll be really glad if you'll donate me, because I don't have enough time for this project because of my job. If I'll get
        paid from this project, I'll have more time for it. I will never forgive it and once you'll get paid back.
      </p>
      <p>
        Thank you.
      </p>
      <a href="./../products/5">Donate</a>
    </div>
    <div class="image">
      <img src="/static/images/ja.png" alt="That's me"/ width="300px" height="300px">
    </div>
  </div>
{% endblock %}
